@font-face {
    font-family: PrinceValiant;
    src: url(PrinceValiant.ttf);
}

body {
    background-image: radial-gradient(circle, #3241a6 0, #202a6b 120%);
}

.app {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 27px;
}

.text {
    font-size: 40px;
}

.text:before {
    content: '';
    display: block;
    height: 60px;
}

.count {
    font-family: PrinceValiant;
    color: #e88565;
    font-size: 180px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: 0 auto 20px;
}

.sfeir-logo {
    height: 60px;
    position: absolute;
    left: 5%;
    top: 5%;
}

.hack {
    height: 300px;
}
