@font-face {
    font-family: PrinceValiant;
    src: url(PrinceValiant.ttf);
}

@font-face {
    font-family: FreshMarker;
    src: url(freshmarker.ttf);
}

body {
    background-image: url(./hacktoberfest.png);
    background-size: cover;
    height: 98vh;
}

.app {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 27px;
}

.text {
    font-size: 100px;
    background: linear-gradient(#4aa7ff, #b224c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text:before {
    content: '';
    display: block;
    height: 60px;
}

.count {
    background: linear-gradient(#f013af, #a220c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    margin-left: 20px;
    font-family: FreshMarker;
}

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    left: 1000px;
    top: 100px;
    font-family: PrinceValiant;
}

.sfeir-logo {
    height: 60px;
    position: absolute;
    left: 5%;
    top: 5%;
}
